build/
bin/
obj/
*.ncrunchsolution
*.ncrunchproject
*.suo
*.user
obj
_ReSharper*
*.csproj.user
*.resharper.user
*.suo
*.swp
*.cache
TestResult.xml
UpgradeLog.XML
_UpgradeReport*/
packages/
